
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Montserrat:ital,wght@0,100;0,200;0,600;1,500;1,600&display=swap');



html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} 

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
  
img{
  width: 100%;
  background-size: cover;
}